<!DOCTYPE html>
<html lang="en-US">
   <head>
      <link rel="shortcut icon" href="http://image.flaticon.com/icons/svg/38/38167.svg">
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <!-- <link href="{{ url_for('static', filename='css/StyleSheet.css')}}" rel="stylesheet" type="text/css"> -->
      <!-- Latest compiled and minified CSS -->
     
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/local.css') }}">
      <!-- Popper JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

      <!-- jQuery library -->
      <script src="{{ url_for('static', filename='js/lib/jquery-3.4.1.min.js')}}"></script>
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
             <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   </head>

   <body>
      <div class="container">
         <!-- <h4>App Report</h4> -->
         <br>
         <form  class="form-inline"  id="myform" >
            <label for="end">Start date: &nbsp</label></br>
            <input class="form-control mb-2 mr-sm-2" name="dg-startDate" type="date" value="2018-01-01" min="2018-01-01" max="2019-12-31">
            <label for="end">End date: &nbsp</label>
            <input class="form-control mb-2 mr-sm-2" name="dg-endDate" type="date" value="2019-05-01" min="2018-01-01" max="2020-12-31">
            <label>Product: &nbsp</label>
            <select name="dg-contry" class="form-control mb-2 mr-sm-2 &nbsp">
               <option value="dgIndia">DGIndia</option>
               <option value="dgIndo">DGIndonesia</option>
               <option value="dgTaiwan">DGTaiwan</option>
               <option value="dgHongKong">DGHongKong</option>
            </select>
            <label>Platform: &nbsp</label>
            <select name="dg-platform" class="form-control mb-2 mr-sm-2 &nbsp">
               <option value="android">Android</option>
               <option value="ios">iOS</option>
               <option value="web">Web</option>
            </select>
            <input type="submit" value="Submit" class="btn-primary form-control mb-2 mr-sm-2" id="submitBtn">
         </form>
      </div>
      <br>
      <center>
         <div class="spinner-border aligncenter" role="status"  style="display:none;" id="waitngView">
            <span class="sr-only">Loading...</span>
         </div>
      </center>
     
      <div style= "margin-left: 100px;">
         <h5 style="font-size:14px;"><b>DigiBank India Android -ve reviews</b></h5>
         <div id="piechart-container" class="chart-container pieC" style="display:flex;"></div>
      </div>
      
      <br>

      <div id="horizontal-container">
         <div id="leftDiv">
            <div id="barchart-container"></div>   
         </div>
         <div id="middleDiv" >
            <div class="donutCell">
               <div id="circlechart-container"></div>
               <div class="circle-center-div">
                  <h1 class="circle-title" id="circleTitle"></h1>
                  <h1 class="circle-subtitle" id="circleSubtitle"></h1>
               </div>
            </div>
            
         </div>
      </div>
      
      <script src="{{ url_for('static', filename='js/base.js')}}"></script>
      <script src="{{ url_for('static', filename='js/pieChart.js')}}"></script>
      <script src="{{ url_for('static', filename='js/barChart.js')}}"></script>
      <script src="{{ url_for('static', filename='js/circleChart.js')}}"></script>
      
   </body>
</html>