<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- <script type="text/javascript" src="https://www.google.com/jsapi"></script> -->
 
    <!-- jQuery library -->
    <script src="{{ url_for('static', filename='js/lib/jquery-3.4.1.min.js')}}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/local.css') }}">
    <script src="{{ url_for('static', filename='js/lineChart.js')}}"></script>
    <!-- <script src="{{ url_for('static', filename='js/lib/moment.js')}}"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>

<body>
    <div style="margin-left:45px;">
         <h3>Line chart for reason</h3>        
    </div>

    <div class="container box">
        <div class="btn-group" id="selector" style="background-color:lightblue;">
            <button type="button" class="btn btn-primary" autofocus="autofocus">Week</button>
            <button type="button" class="btn btn-primary">Month</button>
            <button type="button" class="btn btn-primary">Year</button>
        </div>
    </div>


    <center>
      <div class="loader" id="waitngView"></div>    
    </center>



    <div style="width:auto">
        <div style="margin-left:45px; width:auto; width: 95%; height: 80%;" id="lineChart"></div>
    </div>

    <script type="text/javascript"> 
        showLineChart();
    </script>
</body>
</html>
